.hidden {
    color: transparent;
}

body {
    background-color: #000000;
    color: rgb(241, 241, 241);
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

#wordContainer {
    margin-top: 20px;
}

.letter {
    margin: 0 7px;
    position: relative;
    text-align: center;
    user-select: none;
    cursor: text;
}

.letter::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(233, 233, 233);
    min-width: 12px;
    user-select: text;
    cursor: pointer;
}

#startButton {
    margin-top: 20px;
    appearance: none;
    font-family: 'Raleway', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #d95d39;
    color: rgb(236, 235, 241);
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

by {
    display: flex;
    flex-direction: column;
    padding: 200px;
}
